.Fort_navbar {
background: linear-gradient(
    90deg,
    rgba(195, 30, 139, 0.5018382352941176) 0%,
    rgba(85, 19, 85, 1) 0%,
    rgba(46, 36, 41, 1) 100%,
    rgba(15, 23, 83, 1) 100%,
    rgba(161, 49, 205, 1) 100%,
    rgba(11, 11, 11, 1) 100%,
    rgba(36, 42, 96, 1) 100%
  );
  color: white;
  width: 100%;
}
